<table class="table table-striped table-bordered table-hover">
 <thead>
  <tr>
   <td>Board Name</td>
  </tr>
 </thead>
 <tbody>
  {{#each board}}
  <tr>
   <td>
    <a href="/board/{{this.Serial}}">{{this.Description}}</a>
   </td>
  </tr>
  {{/each}}
 </tbody>
</table>
