<form class="signin" action="/Login" method="post">
 <h2>Sign in</h2>
 <input class="input-block-level" name="Username" placeholder="Username" type="text" />
 <input class="input-block-level" name="Password" placeholder="Password" type="password" />
 <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>
